<h1><%=@merchant.name%>'s Bulk Discounts</h1>
<p><%= link_to "Create Bulk Discount", new_merchant_bulk_discount_path(@merchant) %>

<%@bulk_discounts.each do |discount|%>
<div id="bd-<%=discount.id%>">
<h3> <%=link_to "Bulk Discount #{discount.id}", merchant_bulk_discount_path(discount.merchant_id, discount) %></h3>
<p>Discount Percentage: <%=discount.percentage_discount * 100%>%</p>
<p>Quantity Threshold: <%=discount.quantity_threshold%></p>
<%end%>