<h1>Invoice ID: <%=@invoice.id %></h1>

<p>Invoice Status: <%=@invoice.status %></p>
<p>Invoice Created at: <%=@invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Customer: <%=@invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<br>


<% @invoice.invoice_items.each do |ii| %>
<div id="invoice_item-<%= ii.item.id %>">
	<p> Item: <%= ii.item.name %></p>
	<p> Quantity: <%= ii.quantity %></p>
	<p> Price: $<%= sprintf("%.2f", (ii.unit_price/100.00))%></p>

  <%= form_with model: ii, url: [ii] do |f| %>
    <h2>Invoice Item Status: <%= f.select(:status, InvoiceItem.statuses.keys, selected: "#{ii.status}") %>
    <%= f.hidden_field :invoice_id, value: @invoice.id %>
    <%= f.hidden_field :merchant_id, value: @merchant.id %>
    <%= f.submit 'Update Item Status'%><br>
    <%= ii.status %>
  <%end%> 
</h2>	
<br>
</div>
<% end %>

<p> Total Revenue: $<%= sprintf("%.2f", (@total_revenue/100.00))%></p>
<p> Total Discounted Revenue: $<%= sprintf("%.2f", (@discounted_revenue/100)) %> </p>


